.bgContainer {
    background-image: url("../../Resources/home/iphone11-bg.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.textContainer {
    text-align: center;
}

.brandName {
    font-weight: 550;
    font-size: 45px;
    padding-top: 15px;
}
.desc {
    font-size: 25px;
    font-weight: 300;
    margin: 0;
}
.price {
    font-weight: 300;
    color: #969595;
}
/* links */
.links {
    display: flex;
    width: 178px;
    justify-content: space-between;
    margin: 10px auto;
    font-size: 18px;
    font-weight: 300px;
}
.links a {
    text-decoration: none;
    color: #397291;
}